*{
    margin: 0;
    padding: 0;
    font-family: Okra, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
    
}
.heading{

    background-image: url(photo/81f3ff974d82520780078ba1cfbd453a1583259680.avif);
    background-position: 0%;
    background-size: 98.6rem;
        background-position-y: -29vh;
        background-position-x: -11vh;
        background-repeat: no-repeat;
        height: 69vh;
    background-repeat: no-repeat;
    animation: fadeIn 4px;
}
@keyframes fadeIn{
   
      0% { filter:blur(5px); }
     100% { filter:blur(0px); }
}
/* Navigation Section */
.menu{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: light;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    margin-left: 39px;
}
.menu a{
    text-decoration: none;
    color: white;
    
}
.gta{
    font-size: 14px;
}


.hero ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18.7px;
    list-style: none;
    padding-left: 47vh;
    
}
.hero ul li{
    padding: 0px 0px 0px 40px;
}
.hero a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: lighter;

}
/* Body */
.heading{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.zomato{
    animation: fadeIn 3s; 
}
@keyframes fadeIn {
    0% { filter:blur(5px); }
    100% { filter:blur(0px); }
  }
.zomato img{
    width: 284px;
}
.sub h3{
font-weight: 300;
font-size: 39px;
margin: 32px;
color: white;
}
.sub span{
    font-weight: 500;
}
.search input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
    width: 46rem;
    padding: 15px 0px 15px 30px;
}
.search ::placeholder{
    font-weight: lighter;
}
.photo{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0rem;
}
.photo img{
    border-radius: 20px;
    width: 21rem;
    height: 14rem;
    margin-left: 20px;
}
.first{
position: relative;
}
.detailp {
    position: absolute;
    bottom: 3px;
    right: 0;
    left: 19px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    padding: 10px 10px 20px 26px; 
    font-size: 20px;
    box-shadow: inset 0px 0px 1px 0px;
    color: #363636;
}
.sub{
    font-size: 16px;
    padding-top: 10px;
    color: rgb(79, 79, 79);
}
.second{
    position: relative;
    }
    .detailq {
        position: absolute;
        bottom: 3px;
        right: 0;
        left: 19px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        padding: 10px 10px 20px 26px; 
        font-size: 20px;
        box-shadow: inset 0px 0px 1px 0px;
        color: #363636;
    }
    .suba{
        font-size: 16px;
        padding-top: 10px;
        color: rgb(79, 79, 79);
    }
.third{
    position: relative;
    }
    .detailr {
        position: absolute;
        bottom: 3px;
        right: 0;
        left: 19px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        padding: 10px 10px 20px 26px; 
        font-size: 20px;
        box-shadow: inset 0px 0px 1px 0px;
        color: #363636;
    }
    .subb{
        font-size: 16px;
        padding-top: 10px;
        color: rgb(79, 79, 79);
    }
    .collection h2{
        color: rgb(28, 28, 28);
        font-weight: 500;
        font-size: 36px;
        padding: 2vh 30vh;
    }
.column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    color: #363636;
    font-weight: lighter;
}
.column a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(255, 126, 139);
}
.popular h1{
    font-size: 36px;
    font-weight: 300;
    padding: 5rem 11rem;
}
.popular span{
    font-weight: 500;
}
/* .button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding: 1.2rem 1.5rem 1.2rem 0rem;
}
.button button{
    background-color: white;
    border-style: none;
    box-shadow: 0px 0px 1px 0px;
    border-radius: .8rem;


}
.button p{
    padding: 5px 9rem;
}
.v{
    font-size: 20px;

}
.n{
    font-size: 16px;
    color: #363636;
} */
.login{
    background-color: rgb(255, 251, 247);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;

}
.last{
    padding-left: 30px;
}
.last h1{
    color: rgb(28, 28, 28);
    margin: 0px 0px 1.5rem;
    font-weight: 500;
    font-size: 44px;
    line-height: 5.6rem;
}
.last p{
    color:rgb(54, 54, 54);
    padding-bottom: 20px;
    line-height: 29px;
    font-weight: lighter;

}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    column-gap: 8px;
}
.radio p{
    padding-bottom: 0%;
    padding-right: 26px;
    font-size: 16px;
}
.email input{
    font-size: 20px;
    padding: 10px 0px 14px 5px;
    width: 63%;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0px 0px 1px 0px;
    margin-top: 15px;
}
.email::placeholder{
    font-weight: lighter;
}
.email button{
    background-color: rgb(239, 79, 95);
    color: white;
    border-style: none;
    padding: 15px 12px ;
    font-size: 16px;
    font-weight: lighter;
    border-radius: 8px;
    margin-left: 10px;

}
.email p{
    margin-top: 30px;
    font-size: 14px;
    color: #9c9c9c;
}
.app img{
    width: 8.4rem;
}
.phone img{
    margin-top: 5.3rem;
    margin-right: 2rem;
  width: 17rem;
  object-fit: cover;  
}
.explore{
    padding: 8vh 30vh;
    background-color: rgb(252, 252, 252);  
}
.explore h1{
    font-weight: 500;
    color: rgb(54, 54, 54);
    font-size: 30px;
    padding-bottom: 20px;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
}
.select select{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding: 20px 10px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0px 0px 1px 0px;
}
                                /* Footer */
.fone{
    background-color: rgb(248, 248, 248);
}                                

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8vh 30vh;
}   
.footer img{
    width: 8rem;
}
.drop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}                             
.drop button{
    margin-left: 20px;
    font-size: 15px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(181, 181, 181);
    cursor: pointer;
}

.drop img{
    width: 30px;
    padding-right: 15px;
}
.india{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.english{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.late-footer{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-left: 8ch;
    margin-right: 8ch;
    margin-bottom: 7rem;
}

.az h6{
    font-size: 13px;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.az p{
    color: #696969;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 15px;
}
.footer-img{
    display: flex;
    flex-direction: column;
}
.footer-img img{
    width: 16ch;
    margin-bottom: 10px;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game h2{
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}
.options button{
    font-size: 15px;
    padding: 10px;
    border-style: none;
    background-color: white;
    box-shadow: 0px 0px 0px 1px;
    border-radius: 4px;
    cursor: pointer;
}
.options span{
    color: white;
}
.options button:hover{
background-color: black;
}